<ul class="nav-left">

    <li>
        <a  class="social-icon" href="https://twitter.com/bam_lab">
            <i class="icon icon-twitter"></i>
        </a>
    </li>

    <li>
        <a  class="social-icon" href="https://www.facebook.com/bamlab">
            <i class="icon icon-facebook"></i>
        </a>
    </li>

    <li>
        <a  class="social-icon" href="{{@blog.url}}/rss/" >
            <i class="icon icon-feed"></i>
        </a>
    </li>
</ul>

<ul class="nav-right">
    {{#foreach navigation}}
        <li>
            <a  class="menu-button nav-{{slug}}{{#if current}} nav-current{{/if}}"
                href="{{url absolute="true"}}"
            >
                <span class="word">{{label}}</span>
            </a>
        </li>
    {{/foreach}}
</ul>
